

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>广州乐游网络-广州地区发行</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="广州乐游" /><script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
</head>
<body>

<!-- header -->
	<div class="header">
<!--			<div class="header-top">-->
<!--				<div class="container">-->
<!--					<div class="head-right">-->
<!--						<ul class="number">-->
<!--							<li><span><i class="phone"> </i>18071405108 13387183500</span></li>-->
<!--							<li><span>QQ:64513767</span></li>-->
<!--								<div class="clearfix"> </div>-->
<!--						</ul>-->
<!--					</div>-->
<!--						<div class="clearfix"> </div>-->
<!--				</div>-->
<!--			</div>-->
			<div class="header-bottom">
				<div class="container">
					<div class="logo">
						<a href="index.php"><img src="images/logo.png" class="img-responsive" alt=""></a>
					</div>
					<div class="head-nav head-right">
						<span class="menu"> </span>
							<ul class="cl-effect-3">
								<li class="active"><a href="index.php">首页</a></li>
								<li><a href="product.php">游戏简介</a></li>
								<li><a href="about.php">企业</a></li>
								<li><a href="course.php">合作</a></li>
<!--								<li><a href="prospect.php">小语种前景</a></li>-->
								<li><a href="joinus.php">加入我们</a></li>
<!--								<li><a href="contact.php">立即报名</a></li>-->
									<div class="clearfix"> </div>

							</ul>
								<!-- script-for-nav -->
							<script>
								$( "span.menu" ).click(function() {
								  $( ".head-nav ul" ).slideToggle(300, function() {
									// Animation complete.
								  });
								});
							</script>
						<!-- script-for-nav -->
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
	</div>
<!-- header -->
<!-- banner -->
	<div class="banner">
		<div class="container">
					<!-- banner Slider starts Here -->
						<script src="js/responsiveslides.min.js"></script>
								<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider4").responsiveSlides({
							auto: true,
							pager: true,
							nav: true,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });

						});
					  </script>
					<!--//End-slider-script-->
<!--				<div  id="top" class="callbacks_container">-->
<!--					<ul class="rslides" id="slider4">-->
<!--						<li>-->
<!--							<div class="banner-info">-->
<!--								<h1>专业的外教团队</h1>-->
<!--								<p>武汉同文外语拥有专业外语老师,教师均有海外一线留学经验和丰富教学经验</p>-->
<!--							</div>-->
<!--						</li>-->
<!--						<li>-->
<!--							<div class="banner-info">-->
<!--								<h1>科学的课程安排</h1>-->
<!--								<p>根据多年教学经验和方法科学的安排教学课程</p>-->
<!--							</div>-->
<!--						</li>-->
<!--						<li>-->
<!--							<div class="banner-info">-->
<!--								<h1>安全的教学保障</h1>-->
<!--								<p>我们承诺学不会免费重修,只为让你拥有一口流利外语</p>-->
<!--							</div>-->
<!--						</li>-->
<!--					 </ul>-->
<!--			    </div>-->
<!--			    <div class="clearfix"> </div>-->
	  			<!-- banner Slider Ends Here -->
		</div>
	</div>
<!-- banner -->
<!-- our -->
	<div class="our">
		<div class="container">
			<h2 style="margin-bottom: 20px">广州乐游</h2>
			<div class="our-top">
				<div class="col-md-4 our-left">
					<i class="best"></i>
					<h3>豪华的创始团队</h3>
					<p>创始团队曾就职于星辉天拓、4399、网易、爱奇艺、心动、银汉游戏等一线运营公司，拥有丰富的行业经验和资源。</p>
				</div>
				<div class="col-md-4 our-left">
					<i class="resu"></i>
					<h3>领先的服务</h3>
					<p>致力提供玩家最真心、细心、贴心、放心的服务，成为中国领先的运营商。</p>
				</div>
				<div class="col-md-4 our-left">
					<i class="interv"></i>
					<h3>核心价值观</h3>
					<p>我们的核心价值观 ——付出、坚持、共赢、感恩！</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- our -->


<!-- footer-top -->

<div class="footer-top">
	<div class="container">
		<div class="col-md-4 foo-left">
			<a href="index.php"><img src="images/leyou_logo.png" class="img-responsive" alt=""></a>
		</div>
		<div class="col-md-4 foo-left">
			<h3>联系我们</h3>

			<h6>地址:广州市天河区科韵路建工路13号天信楼406房</h6><br/>

			<h6>电话:13435090977</h6><br/>

			<h6>QQ:307194064</h6><br/>

			<h6>广州乐游互联网科技有限公司</h6><br/>
			<h6>粤ICP备17102407号</h6><br/>
		</div>
		<div class="col-md-4 foo-left">
			<h3>快速导航</h3>
			<ul>
				<li class="active"><a href="about.php">关于我们</a></li>
				<li><a href="course.php">合作</a></li>
				<li><a href="joinus.php">加入我们</a></li>
				<div class="clearfix"> </div>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- footer-top -->
<!--footer-bottom -->
	<!-- <div class="footer-bottom"> -->
		<!-- <div class="container"> -->
			<!-- <p>Copyrights ? 2015 12312</p> -->
		<!-- </div> -->
	<!-- </div> -->
<!--footer-bottom -->
</body>
</html>
