
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
<!--{include file="head.html"}-->
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Loading Container -->
        <!--{include file="loading.html"}-->
    <!--  /Loading Container -->
    <!-- Navbar -->
        <!--{include file="nav.html"}-->
    <!-- /Navbar -->

    <!-- Main Container -->
        <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- left -->
                <!--{include file="left.html"}-->
            <!-- /left -->
            <!-- Page Content -->
            <div class="page-header position-relative">
                <!--Header Buttons-->
                <div class="header-buttons">
                    <a href="#" class="sidebar-toggler">
                        <i class="fa fa-arrows-h"></i>
                    </a>
                    <a href="" id="refresh-toggler" class="refresh">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                    <a href="#" id="fullscreen-toggler" class="fullscreen">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                </div>
                <!--Header Buttons End-->
            </div>
            <div class="page-content">
                <iframe id="main" scrolling="auto" name="main" src="templates/welcome.html" frameborder="0" width="100%" height="1000px"></iframe>
            </div>
            <!-- /Page Content --> 
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->
    </div>
</body>
<!--  /Body -->
<script src="templates/js/bootstrap.min.js"></script>
<!--Beyond Scripts-->
<script src="templates/js/beyond.min.js"></script>
<!--Page Related Scripts-->
</html>