<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<!--{include file="head.html"}-->
	</head>
<body>
	<!--{include file="loading.html"}-->
	<!--{if $type eq 'list'}--><!--礼包码列表-->
	<style> ul{ list-style: none; } </style>
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-yellow">
                        <span class="widget-caption">礼包码列表</span>
                        <a href="javascript:void(0);" onclick="showhelp();" style="font-weight:bold">显示功能帮助</a>
                        <div class="widget-buttons">
                            <a href="#" data-toggle="maximize">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                            <a href="#" data-toggle="dispose">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body no-padding">
                        <table class="table table-bordered table-hover table-striped table-hover" id="searchable">
                            <thead class="bordered-darkorange">
                                <br/>
                                <div style="margin-left:10px;float:left;">游戏：
                                    <select name="gid" id='gid' onchange="getSid_list(this.value,'cardid_list');" style="width:100%;" style="width:200px;">
                                        <option value="0">请选择游戏</option>
                                        <!--{foreach from=$gameArr key=sysid item=value}-->
                                        <option value="<!--{$sysid}-->" <!--{if $data.gci_gid eq $sysid}-->selected="selected"<!--{/if}-->><!--{$value}--></option>
                                        <!--{/foreach}-->
                                    </select>
                                </div>
                                <div style="margin-left:10px;float:left;">区服：
                                    <div class="form-group">
                                        <select name="sid" id='sid' style="width:100%;">
                                            <option value="0">全区服</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="margin-left:10px;float:left;">礼包码：
                                    <div class="form-group">
                                        <input name="cardid" id="cardid" type="text" value="" style="width:200px" class="form-control date-picker"/>
                                    </div>
                                </div>
                                <div style="margin-left:10px;float:left;">礼包类型：
                                    <div class="form-group">
                                        <select name="ctype" id='ctype' style="width:100%;">
                                            <option value="0">请选择礼包类型</option>
                                            <!--{foreach from=$ctypeArr key=sysid item=value}-->
                                            <option value="<!--{$sysid}-->" <!--{if $data.gci_ctypeid eq $sysid}-->selected="selected"<!--{/if}-->><!--{$value}--></option>
                                            <!--{/foreach}-->
                                        </select>
                                    </div>
                                </div>
                                <div style="margin-left:10px;float:left;">礼包卡类型：
                                    <div class="form-group">
                                        <select name="ktype" id='ktype' style="width:100%;">
                                            <option value="0">请选择礼包卡类型</option>
                                            <!--{foreach from=$ktypeArr key=sysid item=value}-->
                                            <option value="<!--{$sysid}-->" <!--{if $data.gci_keytypeid eq $sysid}-->selected="selected"<!--{/if}-->><!--{$value}--></option>
                                            <!--{/foreach}-->
                                        </select>
                                    </div>
                                </div>
                                <div style="margin-left:10px;float:left;">领取状态：
                                    <div class="form-group">
                                        <select name="draw" id='draw' style="width:100%;">
                                            <option value="0">所有</option>
                                            <option value="1">已领取</option>
                                            <option value="2">未领取</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="margin-left:10px;float:left;margin-top:20px;"><input type='button' id='getinfo' class="btn btn-blue" value="查询"/></div>
                                <hr style="clear:both;border-bottom:3px solid red;margin-top:80px"/>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="templates/js/datatable/jquery.dataTables.min.js"></script>
    <script src="templates/js/datatable/ZeroClipboard.js"></script>
    <script src="templates/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="templates/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="templates/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        var data='';
        $(document).ready(function() {
               /*异步条件请求*/
            $("#getinfo").bind("click",function(){
                var gid    = $('#gid').val();
                var sid    = $('#sid').val();
                var cardid = $('#cardid').val();
                var ctype  = $('#ctype').val();
                var ktype  = $('#ktype').val();
                var draw   = $('#draw').val();
                //异步请求数据
                $.post("index.php?module=spree_cardid&method=cardid_list",{gid: gid,sid: sid,cardid: cardid,ctype:ctype,ktype:ktype,draw:draw,flag:'get_data'},
                     function(data){
                        data = eval("("+data+")");
                        $('#searchable').dataTable({"bDestroy":true,"sScrollX": "100%",
                            "bScrollCollapse": true,
                            "searching":true,
                            "aLengthMenu":false,
                            "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                            "aaSorting": [[0, 'asc']],
                            "aLengthMenu": [
                               [5, 15, 20],
                               [5, 15, 20]
                            ],
                            "iDisplayLength": 10,
                            "oTableTools": {
                                "aButtons": []
                            },
                            "language": {
                                "search": "",
                                "sLengthMenu": "显示 _MENU_ 项结果",
                                "sProcessing": "处理中...",
                                "oPaginate": {
                                    "sFirst": "首页",
                                    "sPrevious": "上页",
                                    "sNext": "下页",
                                    "sLast": "末页"
                                },
                                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                                "infoFiltered":   "(总过滤_MAX_条)",
                                "zeroRecords":    "没有匹配结果",
                            },
                            "data": data,
                            "columns": [
                                { "sTitle": "系统ID",class:'123'},
                                { "sTitle": "游戏"},
                                { "sTitle": "服务器"},
                                { "sTitle": "礼包码"},
                                { "sTitle": "领取人ID"},
                                { "sTitle": "领取人账号"},
                                { "sTitle": "领取时间"},
                                { "sTitle": "是否领取"},
                                { "sTitle": "操作"}
                        ]});//重新调用插件
                        $("thead input").keyup(function () {
                            /* Filter on the column (the index) of this element */
                            oTable.fnFilter(this.value, $("thead input").index(this));
                        });

                        $('#expandabledatatable_column_toggler input[type="checkbox"]').change(function () {
                            var iCol = parseInt($(this).attr("data-column"));
                            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
                            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
                        });

                        $('body').on('click', '.dropdown-menu.hold-on-click', function (e) {
                            e.stopPropagation();
                        })
                     }
                 );
            });
        });
    </script>
    <script>
         //获取游戏下对应的区服
        function getSid_list(gid,flag)
        {
            $.ajax({
                type:'POST',
                url:'index.php?module=spree_cardid&method='+flag+'&flag=get_sid',
                data:'gid='+gid,
                success:function(res){
                    $('#sid').html(res);
                }
            });
        }
    </script>
	<!--{/if}-->

	<!--{if $type eq 'add'}--><!--礼包码添加-->
	<div class="col-lg-12 col-lg-offset-3 col-sm-12 col-xs-12" style="0 auto">
        <h5 class="row-title before-pink"><i class="fa fa-expand pink"></i>礼包码添加</h5>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-palegreen">
                        <span class="widget-caption">礼包码添加表单</span>
                    </div>
                    <div class="widget-body">
                        <div class="collapse in">
                            <form enctype="multipart/form-data" action="index.php?module=spree_cardid&method=add_cardid" method="post" id='myform' name='myform'>
                                <input name="act" value="add" type="hidden"/>
                                <input id="furl" name="furl" value="<!--{$furl}-->" type="hidden">
                                <div class="form-group">
                                   <label for="definpu">游戏名称：</label><span style="color:red">*</span>
                                    <select name="gid" id='gid' style="width:100%;" onchange="getSid(this.value,'add_cardid');" onblur="clean_error('gid')">
                                        <option value="0" <!--{if $data.gci_gid eq 0}-->selected="selected"<!--{/if}-->>请选择游戏</option>
                                        <!--{foreach from=$gameArr key=sysid item=value}-->
                                        <option value="<!--{$sysid}-->" <!--{if $data.gci_gid eq $sysid}-->selected="selected"<!--{/if}-->><!--{$value}--></option>
                                        <!--{/foreach}-->
                                    </select>
                                </div>
                                <div class="form-group">
                                   <label for="definpu">服务器区：</label>
                                    <select name="sid" id='sid' style="width:100%;">
                                        <option value="0" <!--{if $data.gci_sid eq 0}-->selected="selected"<!--{/if}-->>全区服</option>
                                        <!--{section name=a loop=$severArr}-->
                                        <option value="<!--{$severArr[a].sysid}-->" <!--{if $data.gci_sid eq $severArr[a].sysid}-->selected="selected"<!--{/if}-->><!--{$severArr[a].gs_sname}--></option>
                                        <!--{/section}-->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="definpu">礼包类型：</label><span style="color:red">(前端展示分类，前端展示礼包为必选)</span>
                                    <select name="ctypeid" id='ctypeid' style="width:100%;">
                                        <option value="0" <!--{if $data.gci_ctypeid eq 0}-->selected="selected"<!--{/if}-->>请选择礼包类型</option>
                                        <!--{foreach from=$ctypeArr key=sysid item=value}-->
                                        <option value="<!--{$sysid}-->" <!--{if $data.gci_ctypeid eq $sysid}-->selected="selected"<!--{/if}-->><!--{$value}--></option>
                                        <!--{/foreach}-->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="definpu">礼包卡类型：</label><span style="color:red">*</span>
                                    <select name="keytypeid" id='keytypeid' style="width:100%;" onblur="clean_error('keytypeid')">
                                        <option value="0" <!--{if $data.gci_keytypeid eq 0}-->selected="selected"<!--{/if}-->>请选择礼包类型</option>
                                        <!--{foreach from=$ktypeArr key=sysid item=value}-->
                                        <option value="<!--{$sysid}-->" <!--{if $data.gci_keytypeid eq $sysid}-->selected="selected"<!--{/if}-->><!--{$value}--></option>
                                        <!--{/foreach}-->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="definpu">导入礼包码文件：</label>
                                    <label><input id="file" name="file" type="file"></label>
                                    <input type="submit" value="上传" onclick="formaction('index.php?module=spree_cardid&method=add_cardid&flag=up','myform',0)"/>
                                    <span style="color:red"><!--{$msg}--></span>
                                </div>
                                <button type="submit" class="btn btn-blue" onclick="return addGameCheck('index.php?module=spree_cardid&method=add_cardid','myform',0);">添 加</button>
                                <button type="submit" onClick="history.go(-1);return false;" value="取消" name="submit" class="btn btn-blue">取 消</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!--{/if}-->

	<!--{if $type eq 'edit'}--><!--礼包类型修改-->
	<div class="col-lg-12 col-lg-offset-3 col-sm-12 col-xs-12" style="0 auto">
        <h5 class="row-title before-pink"><i class="fa fa-expand pink"></i>礼包类型修改</h5>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-palegreen">
                        <span class="widget-caption">礼包类型修改表单</span>
                    </div>
                    <div class="widget-body">
                        <div class="collapse in">
                            <form enctype="multipart/form-data" action="index.php?module=spree_type&method=edit_stype" method="post" id='myform' name='myform'>
                                <input name="act" value="edit" type="hidden"/>
                               <input id="furl" name="furl" value="<!--{$furl}-->" type="hidden">
                                <div class="form-group">
                                   <label for="definpu">游戏名称：</label><span style="color:red">*</span>
                                    <select name="gid" id='gid' style="width:100%;" onchange="getSid(this.value,'add_cardid');" onblur="clean_error('gid')">
                                        <option value="0" <!--{if $data.gci_gid eq 0}-->selected="selected"<!--{/if}-->>请选择游戏</option>
                                        <!--{foreach from=$gameArr key=sysid item=value}-->
                                        <option value="<!--{$sysid}-->" <!--{if $data.gci_gid eq $sysid}-->selected="selected"<!--{/if}-->><!--{$value}--></option>
                                        <!--{/foreach}-->
                                    </select>
                                </div>
                                <div class="form-group">
                                   <label for="definpu">服务器区：</label>
                                    <select name="sid" id='sid' style="width:100%;">
                                        <option value="0" <!--{if $data.gci_sid eq 0}-->selected="selected"<!--{/if}-->>全区服</option>
                                        <!--{section name=a loop=$severArr}-->
                                        <option value="<!--{$severArr[a].sysid}-->" <!--{if $data.gci_sid eq $severArr[a].sysid}-->selected="selected"<!--{/if}-->><!--{$severArr[a].gs_sname}--></option>
                                        <!--{/section}-->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="definpu">礼包类型：</label><span style="color:red">*</span>
                                    <select name="ctypeid" id='ctypeid' style="width:100%;" onblur="clean_error('ctypeid')">
                                        <option value="0" <!--{if $data.gci_ctypeid eq 0}-->selected="selected"<!--{/if}-->>请选择礼包类型</option>
                                        <!--{foreach from=$ctypeArr key=sysid item=value}-->
                                        <option value="<!--{$sysid}-->" <!--{if $data.gci_ctypeid eq $sysid}-->selected="selected"<!--{/if}-->><!--{$value}--></option>
                                        <!--{/foreach}-->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="definpu">礼包卡类型：</label><span style="color:red">*</span>
                                    <select name="keytypeid" id='keytypeid' style="width:100%;" onblur="clean_error('keytypeid')">
                                        <option value="0" <!--{if $data.gci_keytypeid eq 0}-->selected="selected"<!--{/if}-->>请选择礼包类型</option>
                                        <!--{foreach from=$ktypeArr key=sysid item=value}-->
                                        <option value="<!--{$sysid}-->" <!--{if $data.gci_keytypeid eq $sysid}-->selected="selected"<!--{/if}-->><!--{$value}--></option>
                                        <!--{/foreach}-->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="definpu">导入礼包码文件：</label>
                                    <label><input id="file" name="file" type="file"></label>
                                    <input type="submit" value="上传" onclick="formaction('index.php?module=spree_cardid&method=edit_stype&flag=up','myform',0)"/>
                                    <span style="color:red"><!--{$msg}--></span>
                                </div>
                                <button type="submit" class="btn btn-blue" onclick="return addGameCheck('index.php?module=spree_cardid&method=edit_stype','myform',0);">修 改</button>
                                <button type="submit" onClick="history.go(-1);return false;" value="取消" name="submit" class="btn btn-blue">取 消</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!--{/if}-->
	<script>
        function addGameCheck(url,id,name) {
            //检测数据
            var gid = clean_error('gid');
            var ctypeid = clean_error('ctypeid');
            var furl = $('#furl').val();
            if (furl == '') {
                alert('请上传礼包码txt文件');
                return false;
            }
            if(gid && ctypeid && furl){
                formaction(url,id,name);
            }else{
                return false;
            }
        }

        function clean_error(name) {
            $('#'+name).next().remove();
            var names = $('#'+name).val();
            if(names == "" || names == '0' || names == 'undefined'){
                $('#'+name).parent().attr("class","has-error");
                $('#'+name).focus();
                $('#'+name).after('<small class="help-block" style="" data-bv-validator="notEmpty" data-bv-validator-for="address"></small>');
                $('#'+name).next().html('内容填写有误！');
                return false;
            }else{
                $('#'+name).parent().attr("class","form-group");
                $('#'+name).next().html();
                $('#'+name).next().remove();
                return true;
            }
        }

        //获取游戏下对应的区服
        function getSid(gid,flag)
        {
            $.ajax({
                type:'POST',
                url:'index.php?module=spree_cardid&method='+flag+'&flag=get_sid',
                data:'gid='+gid,
                success:function(res){
                    $('#sid').html(res);
                }
            });
        }

        function formaction(url,id,name) {
            if(name==0){
                document.myform.action = url;
                $("#"+id).submit();
            }else{
                document.myform1.action = url;
                $("#"+id).submit();
            }
        }
    </script>
	<script>
        $(function(){
            if('<!--{$meg}-->' !=''){
                $("#toast-container").show();
            }else{
                $("#toast-container").hide();
            }
            $("#toast-container").bind('click',function(){
                $("#toast-container").hide();
            });
        });
        function showhelp(){
            $("#toast-container").show();
        }
    </script>
    <div id="toast-container" class="toast-bottom-right">
    	<div class="toast fa-check toast-blue" >
    		<button class="toast-close-button">×</button>
    		<div class="toast-message"><!--{$meg}--></div>
    	</div>
    </div>
</body>
<script src="templates/js/bootstrap.min.js"></script>
<script src="templates/js/beyond.min.js"></script>
</html>