
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
<!--{include file="head.html"}-->
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Loading Container -->
        <!--{include file="loading.html"}-->
    <!--  /Loading Container -->
    
    <!-- Main Container -->
    <!--{block name="body"}-->
        <div class="page-body">
            <hr/>
            <div>
            <!-- <img width='1100px' height='800px' src='img/1212.jpg'/> -->
            <!-- <iframe frameborder="0" scrolling="no"  width="100%" height="1000px" src="http://www.gimmgimm.com/game/index?id=12019"></iframe> -->
        </div>
        <!--显示主页信息-->
    <!-- /Main Container -->
</body>
</html>