body{font-family:"Microsoft YaHei"; font-size:100%; color:#424242; background:#EBEBEB;}
a{ color:#424242; }
.wap{ width:640px; height:auto; overflow:hidden; margin:0 auto; position:relative;}

/*-----璋冪敤鍚屼竴寮犲浘鐗�-----*/
.nav_content ul li a span,.registration_task a em i,.games_title i,.foot ul li a span,.telephone ul li i,.recent_package ul li a i,.three ul li a i,.related_gifts h6 i,.pack_content h6 i,.years span.years_1 a,.years span.years_2 a{ background:url(../images/ico.png) no-repeat;}
/*-----澶撮儴-----*/
.head{ width:100%; height:100px; border-bottom:2px solid #4F94CD; background:#ffffff;}
.logo{ width:250px; height:75%; margin:8px 0px 0px 20px; float:left;}
.nav{ width:128px; height:100px; float:right; }
.nav_btn{ width:100%; height:100%; background:rgb(15,150,213);}
.nav_content{ width:151px; height:510px; background:#ffffff; float:right;}
.nav_content ul{ width:100%; height:100%;}
.nav_content ul li{ width:151px; height:84px; border-bottom:1px solid #b2b2b2;}
.nav_content ul li a{ line-height:83px; text-align:center; font-size:24px;}
.nav_content ul li a span{ width:31px; height:30px; display:block; float:left; margin:25px 0px 0px 38px;}
.nav_content ul li a p{ width:auto; height:auto; float:left; margin-left:5px;}
.nav_content ul li.nav_1 a span{ background-position:3px -189px;}
.nav_content ul li.nav_2 a span{ background-position:-82px -186px;}
.nav_content ul li.nav_3 a span{ background-position:-169px -190px;}
.nav_content ul li.nav_4 a span{ background-position:-249px -191px;}
.nav_content ul li.nav_5 a span{ background-position:-323px -191px;}
.nav_content ul li.nav_6 a span{ background-position:-393px -191px;}
.nav_content ul li.on a,.nav_content ul li a:hover{ color:#139BD8;}

/*-----涓嶉€忔槑灞�-----*/
.fixed{ width:100%; height:100%;  /*position:fixed;*/ position:absolute; top:80px; left:0px;filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4F000000,endcolorstr=#4F000000);background:rgba(0,0,0,0.4); z-index:999;}

/*-----鍐呭-----*/
.content{ width:100%; height:auto; margin:0; overflow:hidden;}

/*-----鐢ㄦ埛淇℃伅-----*/
.user_info{ width:100%; height:91px; margin:13px 0px 13px 0px;}
.user_info_left{ width:320px; height:100%; float:left;}
.head_portrait{ width:91px; height:91px; position:relative; float:left;}
.head_portrait a span{ width:100%; height:100%; display:block; position:absolute;}
.head_portrait a span.head_portrait_top{ background:url(../images/user.png) no-repeat; background-position:0px -25px; z-index:2;}
.head_portrait a span.head_portrait_bottom{ z-index:1; overflow:hidden;}
.head_portrait a span.head_portrait_bottom img{ width:50%; height:auto; display:block; position:absolute; top:0; bottom:0; left:0; right:0; margin:auto;}
.head_portrait a span.head_portrait_bottom_2 img{ width:80px;}
.nickname{ width:225px; height:55px; float:left; margin:18px 0px 0px 0px;}
.nickname p{ width:100%; height:24px; line-height:24px; font-size:18px; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}
.nickname i{width:100%; height:55px; display:block;}
.nickname i a{ line-height:55px; font-size:18px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.vip{ width:100%; height:35px; line-height:35px;}
.vip em{ font-size:18px; color:#f28f00; float:left;}
.vip_content{ width:80px; height:9px; margin:14px 8px 0px 5px; position:relative; float:left; border-radius: 12px; overflow: hidden;}
.already{ /*width:34px;*/ height:100%; background:#f6ad02; position:absolute; z-index:2;}
.besides{ width:100%; height:100%; background:#424243; position:absolute; z-index:1;}

.registration_task{ width:272px; height:42px; float:right; margin:24px auto;}
.task,.registration{ width:116px; height:42px; float:left; margin-left:20px;}
.task a,.registration a{ font-size:20px; color:#ffffff; text-align:center; line-height:42px; letter-spacing:4px;}
.registration a{ background:#ea5b23;}
.task a{ background:#f6ad02; }
.registration_task a em{ width:auto; height:100%; display:inline-block; margin:0 auto;}
.registration_task a em i{ width:25px; height:100%; display:block; float:left; padding:0px 0px 0px 5px;}
.registration a em i{ background-position:3px 10px;}
.task a em i{ background-position:-85px 9px;}

/*-----杞挱鍥�-----*/
.banner{ width:100%; height:387px; position:relative;}
.banner_1{ height:252px; margin-top:1px;}
.banner_content{ width:100%; height:100%; overflow:hidden; position:absolute; z-index:1; left:0px; top:0px;}
.banner_content ul{ width:100%; height:100%; overflow:hidden;}
.banner_content ul li{ width:100%; height:100%; overflow:hidden;}
.banner_content ul li img{ width:100%; height:100%; overflow:hidden;}

.slider-banner{animation:0.8s ease-in-out 0.6s normal both 1 running fadeInUp;position:relative;width:100%; height:387px;}
.swipe {overflow: hidden;position: relative;visibility: hidden;z-index: 1;}
.swipe-wrap div {float: left;position: relative;}
.swipe_nav {height: 20px;position: absolute;z-index: 2;bottom: 15px;left: 50%;margin-left: -45px;}
.swipe_nav span {width:auto; height:100%; float:left; display:block;position: relative;}
.swipe_nav span a { text-indent:-9999px;width:13px; height:13px; border-radius:60px; background:#cfcfcf; float:left; margin:0px 5px 0px 5px;-webkit-transition:all 0.4s;transition: all 0.4s;-moz-transition: all .4s;-o-transition: all .4s;-ms-transition: all .4s;}
.swipe_nav span a.current {width:37px; height:13px; background:#f28f00; border-radius:30px;}

.flex-control-nav{ width:150px; height:20px; position:absolute; z-index:2; bottom:15px; left:50%; margin-left:-45px;}
.flex-control-nav li{float: left;}
.flex-control-nav li a{ text-indent:-9999px;width:13px; height:13px; border-radius:60px; background:#cfcfcf; float:left; margin:0px 5px 0px 5px;
  -webkit-transition:all 0.4s;
  transition: all 0.4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;}
.flex-control-nav li a.flex-active{ width:37px; height:13px; background:#f28f00; border-radius:30px;}

/*-----热门游戏-----*/
.recommended_games{ width:100%;height:auto; }
.game_top{ width:100%; height:77px;}
.games_title{ width:50%; height:100%; float:left;margin-left: 8px;}
.games_title i{ width:45px; height:100%; display:block; float:left; margin:0px 5px 0px 5px;}
.recommended i{ background-position:0px -35px;}
.popular_new i{ background-position:-76px -38px;}
.games_title p{ width:auto; height:auto; font-size:27px; float:left; line-height:82px;}
.game_top span{ width:10%; height:100%; float:right;margin-right: 25px;}
.game_top span a{ text-align:right; line-height:77px; font-size:18px;}
.recommended_content{ width:100%; height:426px;}
.recommended_1{ width:290px; height:187px; margin:18px 0px 70px 18px; float:left;}
.recommended_1 span{ width: 290px;height: 146px;display: block;overflow: hidden;position: relative;border: 1px solid #b2b2b2;}
.recommended_1 span a{overflow:hidden;}
.recommended_1 span img{ width:100%; height: auto; display: block; overflow: hidden; position: absolute; top: 0; bottom: 0; left: 0;right: 0; margin: auto;}
.recommended_1 ul{width:100%; height:34px; margin-top:7px;}
.recommended_1 ul li{ width:138.5px; height:34px; float:left;}
.recommended_1 ul li a{ line-height:34px; text-align:center; font-size:20px; color:#f3f3f3;}
.recommended_1 ul li.download{ background:#f28f00; margin-right:13px;}
.recommended_1 ul li.official_website{ background:#ea5b23;}
.hot_font{height: 115px;width: 100%;background-color: #FFFFFF;position: relative;}
.hotgames_title{font-size: 1.4rem;font-weight: bold;margin-top: 5px;position: absolute;}
.hotgames_txt{position: absolute;width:90%;height:20px;top: 40px;left: 10px;color: #B0B0B0;font-size: 1.1rem;padding: 3px;overflow:hidden}
.hot_bor{width: 90%;height: 38px;position: absolute;top: 77px;border-top: 1px solid #BDBDBD;margin-left: 5%;}
.hot_logoin{color: #B0B0B0;float: right;font-size: 1.1rem;margin: 5px;float: right;display: block;}

/*-----游戏礼包-----*/
.popular_gifts{ width:100%; height:auto;}
.popular_content{ width:94%;border: 1px solid #b2b2b2;background: #ffffff;display: inline-block;margin-left: 3%;}
/*.popular_content{ width:94%;height: auto;min-height: 290px;border: 1px solid #b2b2b2;background: #ffffff;display: inline-block;margin-left: 3%;}*/
.popular{ width:298px; height:134px; float:left; }
.popular_1,.popular_3{border-bottom:1px solid #b2b2b2; border-right:1px solid #b2b2b2;}
.popular_2,.popular_4{border-bottom:1px solid #b2b2b2; }
.popular span{width:93px; height:93px; display:block; float:left; margin:23px 16px 0 16px;}
.popular span a{ position:relative;}
.popular span a img{width:85px; height:auto; display:block; position:absolute;margin-bottom: 20px;}
.popular_right{ width:161px; height:100%; float:left; overflow:hidden;}
.popular_right p{ width:100%; height:26px; line-height:26px; font-size:22px; color:#424242; margin-top:26px;}
.popular_right i{ width:100%; height:26px; line-height:24px; font-size:16px; color:#787878; font-family:"瀹嬩綋"; margin-left:-6px; display: block;}
.popular_right i a{ width:auto; height:100%; display:inline; padding:0px 6px 0px 6px;}
.popular_right em{ width:75px; height:30px; border-radius:6px; background:rgb(165,204,49); display:block; float:left;}
.popular_right em a{ line-height:30px; text-align:center; color:#ffffff; font-size:18px;}
.popular_more{ width:100%; height:54px; float:left;}
.popular_more a{ text-align:center; line-height:54px; font-size:18px; color:#424242;}

/*-----鐢ㄦ埛閫€鍑�-----*/
.user_exits{ width:598px; height:65px; margin-top:28px; border:1px solid #b2b2b2;background:#ffffff;}
.user_exits p{ width:78%; height:100%; font-size:18px; line-height:65px; margin-left:15px; float:left;}
.user_exits p i{ padding-left:15px; color:#f28f00;}
.user_exits span{ width:18%; height:100%; float:right;}
.user_exits span a{ width:89px; height:37px; text-align:center; background:#f28f00; font-size:18px; color:#ffffff; line-height:37px; border-radius:6px; margin:14px 0px 0px 0px;}

.footerr{width: 100%;height: 220px;background-color:#424242;}
.footerr p{color: #DEDEDE;text-align: center;font-size: 1.2rem;}

/*-----鐗堟潈淇℃伅-----*/
.copyright {
    width: 598px;
    height: 65px;
    margin-top: 28px;
    text-align: center;
}
.copyright a {
	display: inline;
    color: #404040;
    font-size: 18px;
    height: auto;
    margin: 0 5px;
}

.footer_link{width: 100%;height: 35px;background-color: #FFFFFF;margin-top: 30px;}



/*-----搴曢儴-----*/
.foot{ width:100%; height:74px; border-top:1px solid #b2b2b2; background:#ffffff; /*margin:40px auto 0px;*/ position:fixed; bottom:0px;
left:0px;}
.foot ul{ width:100%; height:100%;}
.foot ul li{ width:160px; height:100%; float:left;}
.foot ul li a{ line-height:78px; text-align:center; font-size:24px;}
.foot ul li a span{ width:38px; height:38px; display:block; float:left; margin:20px -35px 0px 32px;}
.foot ul li.home a span{ background-position:6px -122px;}
.foot ul li.package a span{ background-position:-78px -122px;}
.foot ul li.game a span{ background-position:-162px -122px;}
.foot ul li.user a span{ background-position:-246px -122px;}
.foot ul li.on a,.foot ul li a:hover{ border-bottom:4px solid rgb(15,150,213); height:70px;}

/*-----杩斿洖椤堕儴-----*/
.back_to_top{ width:78px; height:78px; position:fixed; bottom:75px; right:10px; z-index:2;}
.back_to_top a{ background:url(../images/top.png) no-repeat;}

/*-----瀹㈡湇鐢佃瘽-----*/
.telephone{ width:598px; height:auto; /*border:1px solid #b2b2b2;*/ margin:28px auto 0px; background:#ffffff;}
.telephone ul{ width:100%; height:auto; margin:0 auto; overflow: hidden; }
.telephone ul li{ width:100%; height:90px; border-bottom:1px dashed #b2b2b2; line-height:90px; font-size:24px; color:#535353; overflow:hidden;}
.telephone ul li p{ width:210px; height:100%; text-indent: 9px; float:left; padding-left:15px; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.telephone ul li span{ width:290px; height:100%; display:block; float:left; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.telephone ul li a{ width: 82px; height: 90px; }
.telephone ul li a i{ width:75px; height:100%; float:left; display:block; background-position: -325px -280px;}
.telephone ul li:last-child{ border-bottom:none;}

/*-----璐﹀彿淇℃伅-----*/
.account_number_1{ width:100%; height:142px; margin:30px auto 30px;}
.head_portrait_1{ width:140px; height:140px;}
.head_portrait_1 a span.head_portrait_top{ background-position:-136px 0px;}
.head_portrait_1 a span.head_portrait_bottom{ z-index: 1;}
.nickname_1{ width:420px; height:100px; color:#424243; margin-left: 20px;}
.nickname_1 p{ height:40px; line-height:40px; font-size:22px; }
.nickname_1 i{ height:35px; line-height:35px; font-size:22px; display: initial; /*display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;*/}
.nickname_1 i a{font-size:22px; color:#f28f00; font-family:"瀹嬩綋"; display:inherit; padding-left:20px;}
.vip_content_1{ width:120px;}

/*-----2涓粦瀹�-----*/
.binding{ width:100%; height:189px;}
.binding span{ background:url(../images/user_center.png) no-repeat;}
.binding_phone,.binding_name{ width:290px; height:189px; float:left; background:url(../images/account.png) no-repeat;}
.binding_phone{ margin-right:20px;}
.binding_phone a span,.binding_name a span{ width:78px; height:78px; margin:23px auto 0px; display:block; background-position:-98px 0px;} 
.binding_name a span{ background-position:-98px -92px;}
/*.on a span,.binding_phone:hover a span{ background-position:0px 0px;}*/
.on a span{ background-position:0px 0px;}
/*.binding_name:hover a span{ background-position:0px -92px;}*/
.down a span{ background-position:0px -92px;}
.binding p{ width:100%; height:35px; line-height:35px; text-align:center; color:#424243; font-size:22px;}
.binding em{ width:100%; height:24px; line-height:24px; color:#9a9a9b; font-size:18px; text-align:center; float:left;}
.binding em i{ width:20px; height:20px; background:url(../images/user_center_1.png) no-repeat; display:block; margin:2px -105px 0px 105px; float:left;}
.binding em i{ background-position:-43px 0px;}
/*.on em i,.binding_name:hover em i,.binding_phone:hover em i{ background-position:0px 0px;}*/
.down em i,.on em i{ background-position:0px 0px;}

/*-----杩戞湡棰嗗彇鐨勭ぜ鍖�-----*/
.recent_package{ width:598px; height:auto; border:1px solid #b2b2b2; margin:28px auto 0px; background:#ffffff;}
.recent_package span{ width:100%; height:65px; display:block; border-bottom:1px solid #b2b2b2; font-size:30px; color:#f28f00; padding-left:20px; line-height:65px; }
.recent_package ul{ width:100%; height:auto;}
.recent_package ul li {width: 578px;line-height: 78px;padding-left: 20px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 24px;}
.recent_package ul li a {width: 100%;float: left;}
.recent_package ul li a i {width: 50px;height: 78px;display: block;background-position: 12px -228px;float: left;font-size: 24px;}
.recent_package ul li a em {width: 500px;height: 100%;float: left;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.recent_package ul li p {width: 500px;height: 50px;float: left;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-left: 50px;line-height: 25px;}

/*-----鏂伴椈鍒楄〃-----*/
.new_list{ width:100%; height: auto; overflow:hidden;}
.new_list ul{ width:100%; height:auto;}
.new_list ul li{ width:100%; height:180px; border-bottom:1px dashed #ababab;}
.new_list ul li span{ width:207px; height:115px; margin:33px 25px 0px 0px; display:block; float:left; position:relative;}
.new_list ul li span img{ width:207px;position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.new_list ul li i{ width:368px; height:auto; float:right; display:block;}
.new_list ul li em{ width:335px; height:35px; line-height:35px; margin-top:30px; display:block; font-size:22px; color:#4b4b4b;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.new_list ul li p{ width:368px; height:auto; line-height:25px; color:#4b4b4b; font-size:16px; margin:5px 0px 0px 0px; overflow: hidden; word-break: break-all; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box;
}

/*-----绀煎寘-----*/
.three_package{ width:100%; height:auto; margin:25px auto 0px;}
.three{ width:100%; height:71px;}
.three ul{ width:100%; height:100%;}
.three ul li{ width:199px; height:100%; border-right:1px solid #ffffff; float:left; background:#f28f00;}
.three ul li:last-child{ border:none;}
.three ul li a{ line-height:71px; text-align:center; font-size:24px; color:#ffffff;}
.three ul li a i{ width:35px; height:100%; display:block; float:left; margin:0px -30px 0px 30px;}
.three ul li a p{font-size:24px; line-height:71px; float:left; margin-left:35px;}
.three ul li.three_1 a i{background-position:4px -360px; }
.three ul li.three_2 a i{background-position:-80px -360px; }
.three ul li.three_3 a i{background-position:-167px -360px; }

.package_content{ width:94%;margin-left: 3%; height:auto;/* border:1px solid #b2b2b2;  border-left:1px solid #b2b2b2; border-right:1px solid #b2b2b2; border-top:1px solid #b2b2b2;*/ margin-top:28px; background:#FFFFFF;} 
.package_1{ width:100%; height:165px; border-bottom:1px solid #b2b2b2;}
.package_2{ height:158px; margin:36px auto 0px; border:none;}
.package_1 span{ width:117px; height:117px; display:block; float:left; margin:25px 15px 0px 15px;}
.package_2 span{ width:280px; height:158px; margin:0 auto;}
.package_1 span a{ position:relative;}
.package_1 span a img{ width:117px; display:block;position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
}
.package_2 span a img{ width:280px;/* margin:0px auto 0px;*/}
.package_1 ul{ width:350px; height:100%; float:left;}
.package_1 ul li{ width:100%;display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.package_1 ul li.big{ height:33px; line-height:33px; font-size:24px; margin-top:25px;}
.package_1 ul li.small{ height:24px; line-height:24px; font-size:16px; color:#787878; margin-bottom:10px;}
.package_1 ul li.identical{ height:22px; line-height:22px; font-size:16px; font-family:"瀹嬩綋"; color:#787878;}
.package_1 ul li.identical em{ color:#ea5b23;}
.package_1 i {width: 90px;height: 40px;border-radius: 6px;background: #AECF32;margin-top: 60px;display: block;font-size: 22px;color: #ffffff;text-align: center;line-height: 40px;float: left;}
.package_1 i a{ color:#ffffff;}
.package_1 ul p{ width:305px; height:auto; font-size:16px; color:#787878; margin-top:10px; overflow: hidden; word-break: break-all; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box;}
.package_2 ul{ width:294px; height:110px; margin-left:25px;}
.package_2 ul li.big_1{ border-bottom:1px solid #b2b2b2; font-size:24px; height:40px; line-height:40px; margin:2px 0px 5px 0px; overflow:hidden; }
.package_2 ul li.identical{ height:26px; line-height:26px;}
.package_2 i{ margin:4px 0px 0px 21px;}

/*-----鐧诲綍-----*/
.log_in{ width:504px; height:auto; margin:54px auto 0px; overflow:hidden; min-height:954px;}
.log_logo{ width:194px; height:224px; margin:0px auto 38px;}
.log_content{ width:100%; height:auto;}
.account_number,.password,.codes{ width:100%; height:70px; margin:0px 0px 27px 0px; background:#ffffff;}
.account_number input,.password input{ background:url(../images/log_in.png) no-repeat left;}
.account_number input{ background-position:20px 18px;}
.password input{ background-position:20px -78px;}
.account_number input,.password input,.codes input{ width:502px; height:100%; border:1px solid #b2b2b2; color:#b2b2b2; font-size:30px; text-align:center; line-height:70px; float:left;-webkit-appearance: none; box-sizing: border-box;}
.log_btn{ width:100%; height:86px; border-radius:6px; background:#f28f00; margin:65px auto 0px;/* margin-bottom:100px;*/}
.log_btn a{color:#ffffff; font-size:48px; line-height:85px; text-align:center; letter-spacing:10px;}
.forget_registered{ width:100%; height:30px;  margin:38px 0px 0px 0px;}
.forget_registered ul{ width:100%; height:100%;}
.forget_registered ul li{ width:100px; height:100%; font-size:20px;}
.forget_registered ul li.forget{ float:left; margin-left:9px;}
.forget_registered ul li.registered{ float:right; margin-right:9px;}

.password{ width:100%;}
.codes input{ width:445px;}
.register_phone{ background: #F3F3F3;}
.register_phone input{ width:350px;line-height: 70px;background: #fff;}
.password_new input{ width:502px;}
.codes em{ width:129px; height:47px; float:right; margin:10px 10px 0px 0px;}
.codes i{ width: 145px;height: 70px;background: #b2b2b2;display: block;float: right;border: 1px solid #b2b2b2;border-radius: 4px;}
.codes i img{border-radius: 4px;}
.codes i a{ text-align:center; line-height:72px; color:#ffffff; font-size:24px;}

.registration_email{ width:584px; height:954px; margin:0 auto 0px; overflow:hidden;}
.email{ margin-top:70px;}
.login_email{ width:437px; height:auto; overflow:hidden; margin:110px auto 160px;}
.login_email p{ width:100%; height:100%; color:#282828; font-size:30px; line-height:48px; text-indent:1.5em;}
.login_email p a{ display:inline; color:#f28f00;}

.registration_success{ width:430px; height:954px; margin:0 auto 0px; color:#282828; overflow:hidden;}
.registration_success p{ width:100%; height:64px; text-align:center; margin:75px 0px 0px 0px ; line-height:64px;font-size:37px;}
.registration_success span{ width:100%; height:auto; display:block; font-size:30px; line-height:48px;}
.registration_success span a{ color:#f28f00; text-decoration:underline; display: inline;}

/*----鏍囬---*/
.index{ width:111px; height:30px; margin:35px 0px 0px 25px; float:left;}
.index a{ width:35px; background:url(../images/return.png) no-repeat left;}
.index a img{width: 100%;height: 100%;}
.headline{ width:340px; height:100%; line-height:105px; text-align:center; float:left; font-size:37px; color:rgb(15,150,213); font-weight:bold;}

/*-----鎻愮ず-----*/
.prompt{ width:502px; height:42px; border:1px solid #b2b2b2; background:#fffadf; margin:30px 0px 0px 0px;}
.prompt span{ width:18px; height:18px; border-radius:30px; border:2px solid #f21c00; color:#f21c00; text-align:center; line-height:20px; display:block; margin:10px 8px 0px 16px; float:left; font-size:16.5px; font-weight:bold;}
.prompt p{ width:450px; height:100%; float:left; font-size:16px; color:#424243; line-height:42px;}

#tips{width:502px; height:42px; border:1px solid #b2b2b2; background:#fffadf; margin:30px 0px 0px 0px;display: none;}
#tips span{ width:18px; height:18px; border-radius:30px; border:2px solid #f21c00; color:#f21c00; text-align:center; line-height:20px; display:block; margin:10px 8px 0px 16px; float:left; font-size:16.5px; font-weight:bold;}
#tips p{ width:450px; height:100%; float:left; font-size:16px; color:#424243; line-height:42px;}

/*------鏂伴椈鍐呭------*/
.newslist{ width:600px; height:auto; margin:20px auto 0px;}
.title_content{ width:757px; height:auto;}
.nev_title{ width:600px; height:57px; margin:0 auto;}
.nev_title span{ width:300px; height:100%; float:left; font-size:30px; color:#4b4b4b; line-height:57px; font-weight:bold;}
.sub_location{ width:auto; height:57px; line-height:57px; float:right;}
.sub_location p{ display: inline; color:#e78f14; font-size: 14px; font-family:'瀹嬩綋'}
.sub_location p a{ display: inline; color:#e78f14; padding: 0 6px;}
.sub_location p a:hover ,.sub_location p a.on{ color:#2D2411;}

.lxh_title{ width:600px; height:95px; margin:0 auto; text-align:center; border-bottom:#ababab 1px dashed;}
.lxh_title h3 { width:100%; height:50px; line-height:50px; font-family:"瀹嬩綋";color: #424243; font-size: 30px; font-weight: normal;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.lxh_title p{ width:100%; height:45px; line-height:45px; font-size:18px; font-family:"瀹嬩綋"; color:#4b4b4b;}
.lxh_title p span{width:48%; height:100%; margin:0 6px; display:block; text-align:center; float:left;}
.lxh_title p a{ width:50px; height:23px;color:#666666; }

.article{ width:100%; height:auto; margin:0px auto 0px; }
.article span{ width:auto; height:auto; display:block;}
.article span img{ width:auto; height:auto; margin:24px auto 27px; display:block;}
.article p{font-size:20px; color: #424243; line-height:30px; text-indent:2em;}
.lq{ width:100%; height:60px;margin:0px auto 60px; float:left;}

.page{ width:600px; height:64px; margin:24px 0px 24px 0px; overflow:hidden; line-height:32px;}
.page ul{ width:100%; height:100%;font-size:18px; color:#e78f14; line-height:32px;}
.page ul a{ width:100%; height:100%; display: inline; }
.page ul a.on ,.page ul a:hover{ color:#2D2411;}

/*-----鍒嗕韩鍒�-----*/
.share{ width:52%; height:28px; margin:24px 0px 24px 0px; float:right;}
.share p{ width:auto; height:100%; float:left; font-size:20px; line-height:28px; margin-right:5px;}
.share ul{ width:auto; height:100%;}
.share ul li{ width:28px; height:28px; float:left; margin:0px 8px 0px 8px; }
.share ul li a{background:url(../images/share_it.png) no-repeat;}
.share ul li.share_1 a{ background-position:0px 0px;}
.share ul li.share_2 a{ background-position:-35px 0px;}
.share ul li.share_3 a{ background-position:-70px 0px;}
.share ul li.share_4 a{ background-position:-105px 0px;}
.share ul li.share_5 a{ background-position:-140px 0px;}

/*-----绀煎寘鍐呭-----*/
.pack_content{ width:598px; height:auto; border:1px solid #b2b2b2; margin:38px auto 0px; background:#ffffff;}
.related_gifts h6,.pack_content h6{ width:100%; height:52px; display:block; line-height:52px; border-bottom:1px solid #b2b2b2; text-align:center; font-size:24px; font-weight:normal;}
.related_gifts h6 em,.pack_content h6 em{ width:auto; height:100%; display:inline-block; margin:0 auto;}
.related_gifts h6 i,.pack_content h6 i{ width:24px; height:26px; display:block; float:left; padding:0px 0px 0px 10px; margin:13px 0px 0px 0px;}
.related_gifts h6 i.pack_1,.pack_content h6 i.pack_1{background-position:-85px -127px; }
.pack_content h6 i.pack_2{ background-position:-328px -123px;}
.pack_content ul{ width:100%; height:74px; overflow:hidden;}
.pack_content ul li{ width:99.5px; float:left; overflow:hidden;}
.pack_content ul li a{ text-align:center; line-height:74px; font-size:18px; overflow:hidden; display:block; text-overflow:ellipsis; white-space:nowrap;}

.pack_content p{ width:560px; height:auto; font-size:18px; line-height:32px; margin:10px auto 10px;}

/*-----鐩稿叧绀煎寘-----*/
.related_gifts{ width:100%; height:auto; margin:38px auto 0px; background:#ffffff;}
.related_gifts h6{ width: 598px;border-top: 1px solid #b2b2b2;border-left: 1px solid #b2b2b2;border-right: 1px solid #b2b2b2;font-weight: normal;margin-bottom: -1px;}
.package_content_1{ margin: 0px; border: 1px solid #b2b2b2;}

/*-----绛惧埌濂栧姳-----*/
.attendance_bonus{ width:598px; height:auto; border:1px solid #b2b2b2; margin-top:31px;}
.attendance_bonus ul{ width:100%; height:auto;}
.attendance_bonus ul li{ width:100%; height:60px; border-bottom:1px solid #b2b2b2; background:#ffffff;}
.attendance_bonus ul li p{ width:80%; height:100%; line-height:60px; padding-left:20px; float:left; font-size:18px; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.attendance_bonus ul li i{ width:79px; height:30px; float:left; display:block; background:#ea5b23; border-radius:6px; margin:15px 0px 0px 0px;}
.attendance_bonus ul li i.ed{ background:#787878;}
.attendance_bonus ul li i a{ line-height:30px; color:#ffffff; text-align:center; }
.attendance_bonus ul li:last-child{ border-bottom:none;}

/*-----绛惧埌琛�-----*/
.attendance_sheet{ width:598px; height:459px; border-top:1px solid #b2b2b2; border-left:1px solid #b2b2b2; border-bottom:1px solid #b2b2b2; margin:36px 0px 0px 0px;}
.years{ width:597px; height:54px; border-bottom:1px solid #b2b2b2;border-right:1px solid #b2b2b2; background:#ffffff;}
.years span{ width:54px; height:100%;display:block; float:left; }
.years span.years_1 a{ border-right:1px solid #b2b2b2; background-position:-255px -304px;}
.years span.years_2 a{ border-left:1px solid #b2b2b2; background-position:-160px -304px;}
.years p{ width:488px; height:100%; line-height:54px; text-align:center; font-size:24px; font-weight:bold; color:#f28f00; float:left;}

.week{ width:100%; height:44px; background:#f28f00;}
.week ul{ width:100%; height:100%;}
.week ul li{ width:85px; height:100%; float:left; line-height:44px; font-size:19px; color:#ffffff; text-align:center;}

.day{ width:100%; height:360px;}
.day ul{ width:100%; height:100%;}
.day ul li{ width:84.4px; height:71px; border-top:1px solid #b2b2b2; border-right:1px solid #b2b2b2;  float:left; text-align:center; line-height:71px;}
.day ul li.past{ background:#cccccc;}
.day ul li.on{ background:url(../images/sign_in.png) no-repeat; color:#fff600;}
.day ul li.not_today{ background:#ffffff;}

/*-----寮瑰嚭妗�-----*/
.pop_up{ width:100%; height:100%; position:fixed; z-index:998; background:rgba(0,0,0,0.4); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4F000000,endcolorstr=#4F000000); left:0px; top:0px;}
.pop_up_content{ width:442px; height:auto; background:#ffffff; left:50%; top:250px; position:absolute;    margin-left:-222px;}
.pop_up_title{ width:100%; height:51px; background:#b2b2b2;}
.pop_up_title p{ width:100%; height:100%; text-align:center; line-height:51px; float:left; color:#ffffff; font-size:24px;}
.pop_up_title span{ width:51px; height:51px; background:url(../images/ico.png) no-repeat bottom; background-position:-261px -424px; display:block; margin-left:-51px; float:left;}
.pop_up_writing{ width:92%; height:auto; margin:40px auto 55px; }
.pop_up_writing_1{ margin:26px auto 26px;}
.pop_up_writing p,.pop_up_writing span,.pop_up_writing i{ width:100%; display:block; text-align:center;} 
.pop_up_writing p{ font-size:24px; line-height:35px;}
.pop_up_writing span {margin-bottom: 10px;}  
.pop_up_writing span a{ color:#f28f00; font-size:24px; line-height:35px;}
.pop_up_writing i{ font-size:18px; line-height:30px;}
.pop_up_confirm{ width:163px; height:50px; margin:0px auto 22px; background:#f28f00;}
.pop_up_confirm p a{ line-height:50px; text-align:center; font-size:24px; color:#ffffff; letter-spacing:8px;}
.pop_up_confirm1{ width:100%; height:50px; margin:0px 0px 0px 0px;}

/*涓婁竴椤典笅涓€椤�*/
.up_and_down{ width:100%; height:60px;}
.up_and_down_content{ width:80%; height:100%; margin:0 auto;}
.up_and_down_content ul{ width:100%; height:100%;}
.up_and_down_content ul li{ width:120px; height:100%; float:left; font-size:24px; line-height:60px; text-align:center;}
.up_and_down_content ul li a{ width:100%; height:100%; display:block;  font-family:"榛戜綋";}
.up_and_down_content ul li.on a,.up_and_down_content ul li a:hover{ color:#f28f00;}

/*閫夋嫨鐨勬父鎴�*/
.hot_btn{ width:577px; height:67px; margin:0 auto; font-size:30px; color:#ffffff;}
.hot_left{ width:284px; height:100%; background:#f28f00; float:left;}
.hot_left em,.hot_right em{ width:184px; height:100%; padding:0px 0px 0px 100px; background:url(../images/hot.png) no-repeat left; background-position:60px -75px; line-height:67px; display:block;}
.hot_right em{background-position:60px 20px;}
.hot_right{ width:284px; height:100%; background:#ea5b23; float:right;}

.select_game{ width:580px; height:220px; border-bottom:1px dashed #ababab; margin:0 auto;}
.game_left{ width:276px; height:173px; margin:20px 20px 0px 0px; overflow:hidden; float:left;}
.game_right{ width:284px; float:left; margin:26px 0px 0px 0px;}
.hot_game_left{ margin-bottom:30px;}

/*------popupbox_download------*/
.popupbox_download{ width: 100%; height:100%; position: fixed; top: 0; left: 0; background:url(../images/mask_1.jpg) no-repeat center top; background-size: cover; z-index:999; }

.nav {
  position: relative;
  width: 128px;
  height:77px;
  display: inline-block;
  border: none;
}

.btn-nav {
  position:absolute;
      top: 17px;
    right:25px;
  background: transparent;
  border: none;
  padding: 10px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  z-index: 900;
}

.btn-nav:focus {
  outline: 0;
}

.icon-bar {
  display: block;
  margin: 8px 0;
  width: 50px;
  height: 5px;
  background-color: #FFFFFF;
}

.btn-nav:hover .icon-bar {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color:#ffffff;
}

.nav-content {
  position: fixed;
  top:100px;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.4);
  filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4F000000,endcolorstr=#4F000000);
  display: block;
  height: 100%;
  z-index: 9;
}

.nav-list {
  list-style: none;
  padding: 0;
  position: relative;
  top: 30%;
}

.item-anchor:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: transparent;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.item-anchor {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  padding: 10px;
}

.item-anchor:hover,
.item-anchor:focus {
  color: #FCA311;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.item-anchor:hover:after,
.item-anchor:focus:after{
  width: 100%;
  background: #FCA311;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-item {
  margin: 40px auto;
  text-align: center;
}

.animated {
  display: block;
  margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar{
  background-color: #ffffff;
}

.animated:focus {
  cursor: pointer;
  z-index: 9999;
}

.middle {
  margin: 0 auto;
}

.icon-bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  z-index: 999999;
}

.animated .icon-bar {
  z-index: 999999;
  background-color:#ffffff;
}

.animated .top {
  -webkit-transform: translateY(14px) rotateZ(45deg);
  -moz-transform: translateY(14px) rotateZ(45deg);
  -ms-transform: translateY(14px) rotateZ(45deg);
  -o-transform: translateY(14px) rotateZ(45deg);
  transform: translateY(14px) rotateZ(45deg);
}

.animated .bottom {
  -webkit-transform: translateY(-11px) rotateZ(-45deg);
  -moz-transform: translateY(-11px) rotateZ(-45deg);
  -ms-transform: translateY(-11px) rotateZ(-45deg);
  -o-transform: translateY(-11px) rotateZ(-45deg);
  transform: translateY(-11px) rotateZ(-45deg);
}

.animated .middle {
  width: 0;
}

@keyframes showNav {
  from {
    
	opacity:0;
  }
  to {
    
	opacity:1;
  }
}

@-webkit-keyframes showNav {
  from {
    
	opacity:0;
  }
  to {
    
	opacity:1;
  }
}

@-moz-keyframes showNav {
  from {
    
	opacity:0;
  }
  to {
    
	opacity:1;
  }
}

@-o-keyframes showNav {
  from {
    
	opacity:0;
  }
  to {
    
	opacity:1;
  }
}

.showNav {
  -webkit-animation: showNav .5s ease forwards;
  -moz-animation: showNav .5s ease forwards;
  -o-animation: showNav .5s ease forwards;
  animation: showNav .5s ease forwards;
}

@keyframes hideNav {
  from {
	opacity:1;
  }
  to {
	opacity:0;
  }
}

@-webkit-keyframes hideNav {
  from {
	opacity:1;
  }
  to {
	opacity:0;
  }
}

@-moz-keyframes hideNav {
  from {
	opacity:1;
  }
  to {
	opacity:0;
  }
}

@-o-keyframes hideNav {
  from {
	opacity:1;
  }
  to {
	opacity:0;
  }
}

.hideNav {
  -webkit-animation: hideNav .5s ease forwards;
  -moz-animation: hideNav .5s ease forwards;
  -o-animation: hideNav .5s ease forwards;
  animation: hideNav .5s ease forwards;
}

.hidden {
  display: none;
  z-index:-9999;
}
.ggg {
  display: none;
}
@-webkit-keyframes effect_1{
	from {-webkit-transform: translateX(0%); 
  }
    to {
	-webkit-transform: translateX(100%); 
  }
}
.effect_1{ -webkit-animation:effect_1 .5s linear both;  }

@-webkit-keyframes effect_2{
	from {-webkit-transform: translateX(100%); 
  }
    to {
	-webkit-transform: translateX(0%); 
  }
}

.effect_2{ -webkit-animation:effect_2 .5s linear both;  }

#treg_tips,#pass_tips,#step1_tips,#step2_tips,#step3_tips,#bp_tips{ display:block; color:#F00; padding:15px 0; text-align:center; font-size:24px;}
.nobingtips{ text-align:center; font-size:24px; color:#f00; padding:30px 0;}

.bing_phone{ background:url(../images/phone.png) no-repeat left; line-height:70px; border:none; background-size:10%; padding-left:80px; font-size:30px;}
/*.account_number{ background:url(../images/phone.png) no-repeat left; line-height:70px; border:none; background-size:10%;}
.account_number input{ border:none; background:none;}*/