<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="wap-font-scale"  content="no"/><!-- 禁止浏览器优化 -->
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<title>用户登录 - <!--{$title}--></title>
	<link href="<!--{$web_url}-->/templates/css/user_login.css" rel="stylesheet" type="text/css">
	<link href="<!--{$web_url}-->/templates/css/common.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="<!--{$web_url}-->/templates/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="<!--{$web_url}-->/templates/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="<!--{$web_url}-->/templates/js/jquery.base.js"></script>
	<script type="text/javascript" src="<!--{$web_url}-->/templates/js/jquery.handle.js"></script>
	<script>
		// var PL = window.location.protocol;
		// var HT = window.location.host;
		// var URL = PL+'//'+HT;
		var URL = <!--{$web_url}-->;
		var divArr = ['popupbox_wrap','popupbox_login','fast_reg','phone_reg','tel_reg_pass','reg_success'];
		if ($.cookie('UN') != null) { $('#username').attr('value',$.cookie('UN')); }
	</script>
</head>
<body>
<!--  PC端 -->
<div class="user_wrap">
	<!--菜单-->
	<div class="user_top">
		<div class="user_top_content">
			<!--logo-->
			<div class="user_top_logo">
				<a href="<!--{$web_url}-->" title="天拓游戏">
					<img src="<!--{$web_url}-->/templates/images/logo_teamtopgame.png" width="165"  />
				</a>
			</div>
			<!--logo end-->
			<div class="user_top_title">
				<span>用户中心</span>
				<span>登录</span>
			</div>
		</div>
	</div>
	<!--菜单 end-->	
	
	<!-- 用户中心 内容 -->
	<div class="user_content">
		<div class="user_content_pic">
			<img src="<!--{$web_url}-->/templates/images/pic_8.jpg" width="860" height="590" alt="">
		</div>
		<div class="user_content_login">
			<div class="user_ct_login_title">
				<h4>登&nbsp;&nbsp;&nbsp;录</h4>
			</div>
			<input id="flag" name="flag" type="hidden" value="login">
            <input id="type" name="type" type="hidden" value="2">
            <input id="jump" name="jump" type="hidden" value="<!--{$web_url}-->/index.php?mo=user_center&me=index">
            <div class="popupbox_prompt"><p id="tips"></p></div>
			<div class="user_ct_login_input">
				<ul>
					<li class="user_ct_account">
						<p>账号</p>
						<input id="username" name="username"  placeholder="请输入账号/手机号/邮箱" type="text" >
					</li>
					<li class="user_ct_password">
						<p>密码</p>
						<input id="password" name="password"  placeholder="请输入密码" type="password" >
					</li>
				</ul>
			</div>
			<div class="remember_me">
				<span>
					<input id="rememberMe" name="rememberMe" type="checkbox">
					<label style="font-weight: bold">&nbsp;&nbsp;记住账号</label>
				</span>
			</div>
			<div class="user_ct_btn">
				<a id="login_page" href="javascript:void(0);" title="登录">登&nbsp;&nbsp;&nbsp;录</a>
			</div>
			<div class="user_ct_prompt">
				<ul>
					<li><a href="<!--{$web_url}-->/index.php?mo=forgetpwd&me=index" title="忘记密码">忘记密码</a></li>
					<li>|</li>
					<li><a href="<!--{$web_url}-->/index.php?mo=register&me=index&t=mobile&s=1" title="立即注册">立即注册</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 用户中心 内容 end -->
	<!-- 用户中心脚部 -->
	<div class="user_foot">
		<div class="user_foot_content">
			<ul>
				<li class="user_foot_password"><a href="<!--{$web_url}-->/index.php?mo=forgetpwd&me=index" title="找回密码">找回密码</a></li>
				<li class="user_foot_service"><a href="<!--{$web_url}-->/index.php?mo=service&me=index" title="联系客服" target="_blank">联系客服</a></li>
			</ul>
		</div>
	</div>
	<!-- 用户中心脚部 end -->
	<!-- 脚部 -->
	<div class="foot">
		<div class="foot_logo">
			<a href="" title="">
				<img src="<!--{$web_url}-->/templates/images/logo_teamtopgame_2.png" width="150" height="">
			</a>
		</div>
		<div class="foot_content">
			<script type="text/javascript" src="https://www.hlwy.com/js/footer.js"></script>
		</div>
	</div>
	<!-- 脚部 end -->
</div>
</body>
</html>