<!DOCTYPE html>
<html>
	<head>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8" />
		<meta http-equiv = "X-UA-Compatible" content ="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit"/>
		<title>官方QQ验证 - <!--{$webname}--></title>
        <meta name="keywords" content="<!--{$keywords}-->" />
		<meta name="description" content="<!--{$desc}-->" />
    <link href="<!--{$web_url}-->/templates/css/base.css" rel="stylesheet" type="text/css">
	<link href="<!--{$web_url}-->/templates/css/mian.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="wrap">
			<!--{include file="service_header.html"}-->
            <!--{include file="service_banner.html"}-->
			<div class="mian">
				<div class="box">
					<div class="box_cent_yz">
						<input id="qq" type="text" class="itxt" name="qq" tabindex="1" autocomplete="off" value="" placeholder="输入您想验证是否为官方客服的QQ"><br>
						<a href="javascript:void(0)" onClick="qq_send_func();">立即验证</a>
						<p id="verifyresult">输入您想验证是否为官方客服的QQ</p>
					</div>
				</div>
				</div>
			</div>
		</div>

		<!-- 脚部 -->
		<!--{include file="service_footer.html"}-->
		<!-- 脚部 end -->

		
	</body>
</html>
